import the required python modules

In [7]:
import pandas as pd
import numpy as np

create a dataframe with the required columns and load dataset into it

In [19]:
data = pd.read_csv('../liar_dataset/train.tsv', sep='\t', names=['id', 'label', 'statement', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 
             'barely_true_counts', 'false_counts', 'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'])
data.head()

,id,label,statement,subject,speaker,job_title,state_info,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context
0,2635.json,false,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,false,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

In [20]:
data['label']

0              false
1          half-true
2        mostly-true
3              false
4          half-true
            ...
10235    mostly-true
10236    mostly-true
10237      half-true
10238          false
10239     pants-fire
Name: label, Length: 10240, dtype: object

In [21]:
data.dtypes

id                       object
label                    object
statement                object
subject                  object
speaker                  object
job_title                object
state_info               object
party_affiliation        object
barely_true_counts      float64
false_counts            float64
half_true_counts        float64
mostly_true_counts      float64
pants_on_fire_counts    float64
context                  object
dtype: object

keep the most important columns and remake the files in csv format for easier access, as well as addint the column names

In [26]:
data.columns

Index(['id', 'label', 'statement', 'subject', 'speaker', 'job_title',
       'state_info', 'party_affiliation', 'barely_true_counts', 'false_counts',
       'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts',
       'context'],
      dtype='object')

In [31]:
data.to_csv('../liar_dataset/train.csv', columns=['label', 'statement'], index_label='id')

In [33]:
data=pd.read_csv('../liar_dataset/train.csv')
data

          id        label                                          statement
0          0        false  Says the Annies List political group supports ...
1          1    half-true  When did the decline of coal start? It started...
2          2  mostly-true  Hillary Clinton agrees with John McCain "by vo...
3          3        false  Health care reform legislation is likely to ma...
4          4    half-true  The economic turnaround started at the end of ...
...      ...          ...                                                ...
10235  10235  mostly-true  There are a larger number of shark attacks in ...
10236  10236  mostly-true  Democrats have now become the party of the [At...
10237  10237    half-true  Says an alternative to Social Security that op...
10238  10238        false  On lifting the U.S. Cuban embargo and allowing...
10239  10239   pants-fire  The Department of Veterans Affairs has a manua...

[10240 rows x 3 columns]

do the same for the other files, test.tsv and valid.tsv

In [34]:
data = pd.read_csv('../liar_dataset/test.tsv', sep='\t', names=['id', 'label', 'statement', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 
             'barely_true_counts', 'false_counts', 'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'])
data.to_csv('../liar_dataset/test.csv', columns=['label', 'statement'], index_label='id')
data=pd.read_csv('../liar_dataset/test.csv')
data

        id        label                                          statement
0        0         true  Building a wall on the U.S.-Mexico border will...
1        1        false  Wisconsin is on pace to double the number of l...
2        2        false  Says John McCain has done nothing to help the ...
3        3    half-true  Suzanne Bonamici supports a plan that will cut...
4        4   pants-fire  When asked by a reporter whether hes at the ce...
...    ...          ...                                                ...
1262  1262    half-true  Says his budget provides the highest state fun...
1263  1263  barely-true                    Ive been here almost every day.
1264  1264  barely-true  In the early 1980s, Sen. Edward Kennedy secret...
1265  1265  barely-true  Says an EPA permit languished under Strickland...
1266  1266        false  Says the governor is going around the state ta...

[1267 rows x 3 columns]

In [35]:
data = pd.read_csv('../liar_dataset/valid.tsv', sep='\t', names=['id', 'label', 'statement', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 
             'barely_true_counts', 'false_counts', 'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'])
data.to_csv('../liar_dataset/valid.csv', columns=['label', 'statement'], index_label='id')
data=pd.read_csv('../liar_dataset/valid.csv')
data

        id        label                                          statement
0        0  barely-true  We have less Americans working now than in the...
1        1   pants-fire  When Obama was sworn into office, he DID NOT u...
2        2        false  Says Having organizations parading as being so...
3        3    half-true     Says nearly half of Oregons children are poor.
4        4    half-true  On attacks by Republicans that various program...
...    ...          ...                                                ...
1279  1279    half-true  For the first time in more than a decade, impo...
1280  1280  mostly-true  Says Donald Trump has bankrupted his companies...
1281  1281         true  John McCain and George Bush have "absolutely n...
1282  1282        false  A new poll shows 62 percent support the presid...
1283  1283  barely-true  No one claims the report vindicating New Jerse...

[1284 rows x 3 columns]

Dataset from kaggle, this one uses news articles instead of statements
https://www.kaggle.com/discussions/getting-started/256014

In [36]:
data = pd.read_csv('../kaggle_dataset/news.csv')
data

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [37]:
data['label'].value_counts()

label
REAL    3171
FAKE    3164
Name: count, dtype: int64

In [38]:
data['text']

0       Daniel Greenfield, a Shillman Journalism Fello...
1       Google Pinterest Digg Linkedin Reddit Stumbleu...
2       U.S. Secretary of State John F. Kerry said Mon...
3       — Kaydee King (@KaydeeKing) November 9, 2016 T...
4       It's primary day in New York and front-runners...
                              ...
6330    The State Department told the Republican Natio...
6331    The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
6332     Anti-Trump Protesters Are Tools of the Oligar...
6333    ADDIS ABABA, Ethiopia —President Obama convene...
6334    Jeb Bush Is Suddenly Attacking Trump. Here's W...
Name: text, Length: 6335, dtype: object

In [39]:
data['label'].unique()

array(['FAKE', 'REAL'], dtype=object)

In [41]:
data['label'].isnull().sum()

0

no null or missing labels, execute one hoe encoding, FAKE is 1 REAL is 0

In [42]:
data['label'] = data['label'].map({'FAKE' : 1, 'REAL' : 0})
data

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",1
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,1
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,0
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",1
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,0
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,0
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,1
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,1
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",0
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,0

redo id column and save to csv

In [43]:
data.to_csv('../kaggle_dataset/news_prepped.csv', columns=['title', 'text', 'label'], index_label = 'id')

combine all of the liar files into one

In [44]:
test = pd.read_csv('../liar_dataset/test.csv')
train = pd.read_csv('../liar_dataset/train.csv')
valid = pd.read_csv('../liar_dataset/valid.csv')

In [45]:
data = pd.concat([test, train, valid])

In [50]:
test.count()

id           1267
label        1267
statement    1267
dtype: int64

In [51]:
train.count()

id           10240
label        10240
statement    10240
dtype: int64

In [52]:
valid.count()

id           1284
label        1284
statement    1284
dtype: int64

In [53]:
data.count()

id           12791
label        12791
statement    12791
dtype: int64

In [54]:
data.columns

Index(['id', 'label', 'statement'], dtype='object')

In [60]:
len(data['statement'].unique())

12765

In [63]:
data['label'].value_counts()

label
half-true      2627
false          2507
mostly-true    2454
barely-true    2103
true           2053
pants-fire     1047
Name: count, dtype: int64

encode labels as follows: fake news is 1 real is 0
true 0
mostly true 0
half true 0
barely true 1
false 1
pants fire 1

In [64]:
data['label'] = data['label'].map({'half-true' : 0, 'false' : 1, 'mostly-true' : 0, 'barely-true' : 1, 'true' : 0, 'pants-fire' : 1})
data

        id  label                                          statement
0        0      0  Building a wall on the U.S.-Mexico border will...
1        1      1  Wisconsin is on pace to double the number of l...
2        2      1  Says John McCain has done nothing to help the ...
3        3      0  Suzanne Bonamici supports a plan that will cut...
4        4      1  When asked by a reporter whether hes at the ce...
...    ...    ...                                                ...
1279  1279      0  For the first time in more than a decade, impo...
1280  1280      0  Says Donald Trump has bankrupted his companies...
1281  1281      0  John McCain and George Bush have "absolutely n...
1282  1282      1  A new poll shows 62 percent support the presid...
1283  1283      1  No one claims the report vindicating New Jerse...

[12791 rows x 3 columns]

remove duplicates based on the statement

In [65]:
data = data.drop_duplicates(subset=['statement'])
data

        id  label                                          statement
0        0      0  Building a wall on the U.S.-Mexico border will...
1        1      1  Wisconsin is on pace to double the number of l...
2        2      1  Says John McCain has done nothing to help the ...
3        3      0  Suzanne Bonamici supports a plan that will cut...
4        4      1  When asked by a reporter whether hes at the ce...
...    ...    ...                                                ...
1279  1279      0  For the first time in more than a decade, impo...
1280  1280      0  Says Donald Trump has bankrupted his companies...
1281  1281      0  John McCain and George Bush have "absolutely n...
1282  1282      1  A new poll shows 62 percent support the presid...
1283  1283      1  No one claims the report vindicating New Jerse...

[12765 rows x 3 columns]

the full dataset is saved to a csv file

In [66]:
data.to_csv('../liar_dataset/liar.csv', columns=['label', 'statement'], index_label = 'id')

In [67]:
data = pd.read_csv('../liar_dataset/liar.csv')
data

         id  label                                          statement
0         0      0  Building a wall on the U.S.-Mexico border will...
1         1      1  Wisconsin is on pace to double the number of l...
2         2      1  Says John McCain has done nothing to help the ...
3         3      0  Suzanne Bonamici supports a plan that will cut...
4         4      1  When asked by a reporter whether hes at the ce...
...     ...    ...                                                ...
12760  1279      0  For the first time in more than a decade, impo...
12761  1280      0  Says Donald Trump has bankrupted his companies...
12762  1281      0  John McCain and George Bush have "absolutely n...
12763  1282      1  A new poll shows 62 percent support the presid...
12764  1283      1  No one claims the report vindicating New Jerse...

[12765 rows x 3 columns]