In [1]:
#dataset is at ../liar_dataset/liar.csv
DATASET_PATH = '../liar_dataset/liar.csv'
import numpy as np
import pandas as pd
import nltk
from string import punctuation #for recognizing and removing
from nltk.corpus import stopwords #for recognizing and removing

In [6]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to C:\Users\Ștefan
[nltk_data]     Vlădescu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [42]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Ștefan
[nltk_data]     Vlădescu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [4]:
dataset = pd.read_csv(DATASET_PATH)
dataset

         id  label                                          statement
0         0      0  Building a wall on the U.S.-Mexico border will...
1         1      1  Wisconsin is on pace to double the number of l...
2         2      1  Says John McCain has done nothing to help the ...
3         3      0  Suzanne Bonamici supports a plan that will cut...
4         4      1  When asked by a reporter whether hes at the ce...
...     ...    ...                                                ...
12760  1279      0  For the first time in more than a decade, impo...
12761  1280      0  Says Donald Trump has bankrupted his companies...
12762  1281      0  John McCain and George Bush have "absolutely n...
12763  1282      1  A new poll shows 62 percent support the presid...
12764  1283      1  No one claims the report vindicating New Jerse...

[12765 rows x 3 columns]

Make everything lowercase

In [20]:
dataset['statement'].str.lower()
dataset

         id  label                                          statement
0         0      0  building a wall on the u.s.-mexico border will...
1         1      1  wisconsin is on pace to double the number of l...
2         2      1  says john mccain has done nothing to help the ...
3         3      0  suzanne bonamici supports a plan that will cut...
4         4      1  when asked by a reporter whether hes at the ce...
...     ...    ...                                                ...
12760  1279      0  for the first time in more than a decade, impo...
12761  1280      0  says donald trump has bankrupted his companies...
12762  1281      0  john mccain and george bush have "absolutely n...
12763  1282      1  a new poll shows 62 percent support the presid...
12764  1283      1  no one claims the report vindicating new jerse...

[12765 rows x 3 columns]

Remove punctuation and multiple spaces

In [ ]:
statements = list(dataset['statement'])
for i in range(len(statements)):
    for p in punctuation:
        statements[i] = statements[i].replace(p, ' ')
        statements[i] = ' '.join(statements[i].split())
#statements

Remove stopwords, add 'says' to the collection, it appears too often in the dataset and may influence the results

In [ ]:
stopword_set = set(stopwords.words('english'))
stopword_set.add('says')
for i in range(len(statements)):
    statements[i] = ' '.join([word for word in statements[i].split() if word not in stopword_set])
statements

Add to dataframe and save to file

In [47]:
dataset['prepped statement'] = statements
dataset

,id,label,statement,prepped statement
0,0,0,building a wall on the u.s.-mexico border will...,building wall u mexico border take literally y...
1,1,1,wisconsin is on pace to double the number of l...,wisconsin pace double number layoffs year
2,2,1,says john mccain has done nothing to help the ...,john mccain done nothing help vets
3,3,0,suzanne bonamici supports a plan that will cut...,suzanne bonamici supports plan cut choice medi...
4,4,1,when asked by a reporter whether hes at the ce...,asked reporter whether hes center criminal sch...
...,...,...,...,...
12760,1279,0,"for the first time in more than a decade, impo...",first time decade imports accounted less half ...
12761,1280,0,says donald trump has bankrupted his companies...,donald trump bankrupted companies twice four t...
12762,1281,0,"john mccain and george bush have ""absolutely n...",john mccain george bush absolutely plan univer...
12763,1282,1,a new poll shows 62 percent support the presid...,new poll shows 62 percent support president pl...
12764,1283,1,no one claims the report vindicating new jerse...,one claims report vindicating new jersey gov c...

This also fixes the id column

In [51]:
dataset.to_csv('../liar_dataset/liar prepped.csv', columns=['label', 'prepped statement'], index_label='id')

In [4]:
dataset = pd.read_csv('../liar_dataset/liar prepped.csv', index_col='id')
dataset

       label                                  prepped statement
id
0          0  building wall u mexico border take literally y...
1          1          wisconsin pace double number layoffs year
2          1                 john mccain done nothing help vets
3          0  suzanne bonamici supports plan cut choice medi...
4          1  asked reporter whether hes center criminal sch...
...      ...                                                ...
12804      0  first time decade imports accounted less half ...
12805      0  donald trump bankrupted companies twice four t...
12806      0  john mccain george bush absolutely plan univer...
12807      1  new poll shows 62 percent support president pl...
12808      1  one claims report vindicating new jersey gov c...

[12809 rows x 2 columns]

In [10]:
string = dataset.iloc[1, 1]
string

'wisconsin pace double number layoffs year'

In [14]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Ștefan
[nltk_data]     Vlădescu\AppData\Roaming\nltk_data...

True

Doing lemmatization on the text

In [21]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
#lemstr=[lemmatizer.lemmatize(word) for word in string.split()]
#lemstr

In [ ]:
statements = list(dataset['prepped statement'].values)
for i in range(len(statements)):
    statements[i] = ' '.join([lemmatizer.lemmatize(word, pos='n') for word in statements[i].split()])
for i in range(len(statements)):
    statements[i] = ' '.join([lemmatizer.lemmatize(word, pos='a') for word in statements[i].split()])
for i in range(len(statements)):
    statements[i] = ' '.join([lemmatizer.lemmatize(word, pos='r') for word in statements[i].split()])
for i in range(len(statements)):
    statements[i] = ' '.join([lemmatizer.lemmatize(word, pos='v') for word in statements[i].split()])
statements

In [33]:
dataset['prepped statement'] = statements
dataset

       label                                  prepped statement
id
0          0     build wall u mexico border take literally year
1          1           wisconsin pace double number layoff year
2          1                    john mccain do nothing help vet
3          0  suzanne bonamici support plan cut choice medic...
4          1  ask reporter whether he center criminal scheme...
...      ...                                                ...
12804      0  first time decade import account less half oil...
12805      0      donald trump bankrupt company twice four time
12806      0  john mccain george bush absolutely plan univer...
12807      1  new poll show 62 percent support president pla...
12808      1  one claim report vindicate new jersey gov chri...

[12809 rows x 2 columns]

In [34]:
dataset.to_csv('../liar_dataset/liar prepped.csv', index_label='id')